<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/editar.css">
    <title>Edita tu Producto</title>
</head>
<body>
    <header>
        <picture><img src="/img/Logo.png" alt=""></picture>
    </header>
    <main>
            <section>
                <h1> Detalle de Usuario <%= user.id %> </h1>
                <article>
                    <img src="/img/Usuarios/<%= user.imagen %>" class="imagen-usuario" alt="">
                    <h3> <span> Nombre:</span> <%= user.nombre %> <%= user.apellido %>  </h3>
                    <p class="info-usuario"> <span> Email:</span> <%= user.email %> </p>
                    <p class="info-usuario" id="categoria"> <span> Categoría:</span> <%= user.categoria  %> </p>
                    <a href="/<%= user.id%>" class="boton">Editar Usuario</a>
                    <form action="/borraruser?m=DELETE" method="post">
                        <input type="hidden" name="id" value="<%= user.id %>">
                        <button type="submit" class="boton">Eliminar Usuario</button>
                    </form>
                </article>
            </section>
    </main>
  
</body>
</html>