<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
    
    <title>Editar Usuario</title>
</head>
<body>

    <header>
        <picture><a href="/"><img src="/img/Logo.png" alt=""></a></picture>
    </header>
    <main>
        <section>
            <h1>Editar Usuario</h1>


            <form action="/updateUser?m=PUT" method="post">
                <input type="hidden" name="id" value="<%= user.id %>">
                <input type="hidden" name="categoria" value="<%= user.categoria %>">
                <label for="nombre"> Nombre </label>
                <input type="text" name="nombre" value="<%= user.nombre %>" required>
                <label for="apellido"> Apellido </label>
                <input type="text" name="apellido" value="<%= user.apellido %>" required>
                <label for="email"> Email</label>
                <input type="email" name="email" value="<%= user.email %>" required>
                <label for="clave"> Ingrese una contraseña </label>
                <input type="password" name="clave" value="<%= user.clave %>" required>
                <label for="confirmarClave"> Confirme su contraseña </label>
                <input type="password" name="confirmarClave" value="<%= user.clave %>" required>
             
                <div>
                    <button type="submit" value="submit"> Editar </button>
                    <button type="reset" value="reset"> Borrar </button>
                </div>
            </form>
        </section>
    </main>
    
    
</body>
</html>